body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#game {
  display: flex;
  flex-direction: row;
}

.playerDisplay {
  padding: 10px;
}

#playerList {
  width: 20%;
  border: 1px solid black;

}

#buttonSection {
  width: 60%;
  text-align: center;
}

#chatSection {
  width: 20%;
  border: 1px solid black;
}

#theButton {
  width: 200px;
  height: 100px;
}
