body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#login {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
}

#logInput {
  padding-top: 15px;
}
